{% extends 'base.html.twig' %}
{% block body %}
    Ciudades
    <ul>
        {% for ciudad in ciudades%}
            <li><a href="{{ path('consultar_temperatura') }}?id={{ ciudad.id }}">{{ ciudad.nombre }} ({{ ciudad.provincia }}/{{ ciudad.pais }})</a></li>
        {% endfor %}
    </ul>
{% endblock %}
